<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="Path4G" value="C:\\Users\\IgorVasconcelos\\Documents\\Projetos\\SiteDown\\Coletor de Disponibilidade\\Disponibilidade v0.55\\WindowsService1\\bin\\Debug\\4G"/>
      <add key="Path3G" value="C:\\Users\\IgorVasconcelos\\Documents\\Projetos\\SiteDown\\Coletor de Disponibilidade\\Disponibilidade v0.55\\WindowsService1\\bin\\Debug\\3G"/>
      <add key="Path2G" value="C:\\Users\\IgorVasconcelos\\Documents\\Projetos\\SiteDown\\Coletor de Disponibilidade\\Disponibilidade v0.55\\WindowsService1\\bin\\Debug\\2G"/>
      <add key="Filter" value="*.log"/>
      <add key="4GKey" value="### Cell 4G Down ###"/>
      <add key="AlarmKey" value="ALARM_LOG.dtd"/>
      <add key="4G_RSKey" value="### Cell 4G - Ran Sharing - Down ###"/>
      <add key="3GKey" value="### Cell 3G Down ###"/>
      <add key="2GKey" value="### Cell 2G Down ###"/>
      <add key="id4GTecnology" value="3"/>
      <add key="id3GTecnology" value="2"/>
      <add key="id2GTecnology" value="1"/>
      <add key="ConexaoMySQL" value="Server=127.0.0.1;Port=3306;Database=disponibilidade;Uid=root;Pwd=root;default command timeout=0;"/>
      <add key="MaxParallel" value="30"/>
    </appSettings>
</configuration>